@model Dojo

<div id="formDiv">
    <h2>FILL OUT THIS SURVEY THX</h2>
    <form asp-action="Result" asp-controller="Home" method="post">
        <span asp-validation-for="Name"></span><br>
        <label asp-for="Name"></label>
        <input asp-for="Name"><br>

        <span asp-validation-for="Location"></span><br>
        <label asp-for="Location"></label>
        <select asp-for="Location">
            <option selected disabled hidden>Select a location</option>
            <option>Bellevue</option>
            <option>Burbank</option>
            <option>Outerspace</option>
            <option>Farm</option>
        </select>

        <span asp-validation-for="Language"></span><br>
        <label asp-for="Language"></label>
        <select asp-for="Language">
            <option selected disabled hidden>Select a language</option>
            <option>C#</option>
            <option>Python</option>
            <option>Javascript</option>
            <option>PHP</option>
        </select>

        <span asp-validation-for="Comment"></span><br>
        <label asp-for="Comment"></label>
        <textarea asp-for="Comment" cols="40" rows="4"></textarea>

        <input value="Submit" type="submit">
    </form>
</div>